body {
    margin: 0;
    background-color: #2d2d2d;
    text-align: center;

    .title {
        text-align: left;
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(
            180deg,
            #78a5b2,
            #2d2d2d
        );
    }

    .linha {
        height: 4px;
        width: 100%;
        opacity: 0.6;
        background: repeating-linear-gradient(
            -45deg,
            black,
            black 4px,
            transparent 4px,
            transparent 8px
        );
    }

    .quebralinha {
        clear: both;
    }

    .nome {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
    }

    .voltar {
        background-color: black;
        color: white;
        float: right;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 8px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    .voltar2 {
        background-color: black;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 8px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }

    .subir {
        background-color: black;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 8px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
}   