@font-face {
    font-family: Eurostile;
    src: url("Eurose\ Wide-Heavy\ Regular.ttf");
} /* Eurostile */
@font-face {
    font-family: Zekton;
    src: url("Zekton\ Rg.otf");
} /* Zekton */
@font-face {
    font-family: Alphakind;
    src: url("Alphakind.ttf");
}

@keyframes tremer{
  0% { transform: translate(0px, 0px); }
  25% { transform: translate(2px, -2px); }
  50% { transform: translate(-2px, 2px); }
  75% { transform: translate(2px, 2px); }
  100% { transform: translate(0px, 0px); }
} /*Animação*/

body {
    margin: 0;
    background-color: #96cedf;
    text-align: center;
    .title {
        text-align: left;
        font-family: arial;
        font-size: 40px;
        font-weight: bold;
        background: #78a5b2;
        color: darkred;
    };
    .subtitle {
        text-align: left;
        font-size: 30;
        background: #78a5b2;
    }

    .img{
        margin: auto;
        float: left;
        border-radius: 50%;
        border: 3px solid black;
    }

    .name {
        text-align: left;
        font-family: Eurostile;
        font-weight: bold;
    }

    .pronomes {
        text-align: left;
        font-size: 30px;
        font-family: zekton;
    }

    .biografia {
        text-align: left;
        font-size: 25px;
        font-family: zekton;
    }

    .corfavorita {
        text-align: left;
        font-size: 25px;
        font-family: zekton;
        color: red;
        font-weight: bold;
    }

    .rs {
        clear: left;
    }

    p {
        font-family: Arial;
        font-size: 30;
    }

    .social {
        background-color: #2b2b2b;
        color: white;
        border: none;
        padding: 10px 18px;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s;
    }

    .social:hover {
        background-color: #555;
        transform: scale(1.1);
    }

    .no {
        background: linear-gradient(to right, yellow, black, yellow, black);
        color: white;
        border: none;
        padding: 10px 18px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 8px;
    }

    .botao {
        background: #96cedf;
        color: red;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 8px;
        font-size: 40px;
        display: inline-block;
        font-family: arial;
        font-weight: bold;
    }

    .botao:hover .texto {    
        animation: tremer 0.1xs infinite;
    }

    .texto {
        clear: left;
    }

    .linha {
        height: 4px;
        width: 100%;
        opacity: 0.6;
        background: repeating-linear-gradient(
            -45deg,
            black,
            black 4px,
            transparent 4px,
            transparent 8px
        );
    }

    .pr {
        font-family: Eurostile;
        width: bold;
    }

    .pergunta {
        text-align: left;
        font-family: Alphakind;
        font-size: 25px;
    }

    .resposta {
        text-align: left;
        font-family: Zekton;
        font-size: 20px;
    }

    .title3 {
        font-size: xx-large;
        font-family: Arial, Helvetica, sans-serif;
    }

    .galeria {
        background-color: black;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 8px;
        font-family: Arial, Helvetica, sans-serif;
    }

}


